/*div {
	outline: 1px solid #aaa;
}*/
.image img {
	width: 100%;
}
.row {
	margin-bottom: 8px;
}
.modal-video {
	width: 100%;
	height: 400px;
}
.camaro {
	margin-bottom: 8px;
}
#carousel-example-generic {
	margin-bottom: 20px;
	height: 500px;
}
#carousel-example-generic img {
	width: 100%;
	height: 500px;
}
